.table {
  max-height: 176px;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &__visible--mobile {
    @include onDesktop {
      display: none;
    }
  }

  &__visible--desktop {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__header {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: $white;
    height: 28px;
    width: 100%;
  }

  &__row {
    border-bottom: 1px solid rgba(95, 120, 137, 0.16);
    height: 36px;
    display: flex;
    align-items: center;
    width: 100%;

    &--header {
      background-color: rgb(51, 51, 51);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &--body {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: $black-80;
      height: 36px;
      text-align: center;

      @include onDesktop {
        font-size: 15px;
      }

      &:last-child {
        border-radius: 6px;
      }
    }
  }

  &__cell {
    &--desktop {
      display: none;

      @include onDesktop {
        display: block;
      }
    }

    &--header-group {
      width: 56px;
      margin-left: 12px;
      margin-right: auto;
      text-align: left;

      @include onDesktop {
        width: 50px;
        margin-left: 16px;
      }
    }

    &--header-games {
      width: 20px;
      margin-right: 8px;

      @include onDesktop {
        width: 32px;
      }
    }

    &--header-wins {
      width: 20px;

      @include onDesktop {
        width: 24px;
        margin-right: 4px;
      }
    }

    &--header-draws {
      width: 20px;

      @include onDesktop {
        width: 24px;
        margin-right: 4px;
      }
    }

    &--header-loses {
      width: 20px;
      margin-right: 8px;

      @include onDesktop {
        width: 24px;
        margin-right: 12px;
      }
    }

    &--header-scored {
      width: 48px;
      margin-right: 8px;

      @include onDesktop {
        width: 52px;
        margin-right: 20px;
      }
    }

    &--header-form {
      width: 94px;
      margin-right: 16px;
    }

    &--header-points {
      width: 20px;
      margin-right: 12px;

      @include onDesktop {
        width: 32px;
        margin-right: 16px;
      }
    }

    &--position {
      width: 20px;
      line-height: 20px;
      margin-left: 8px;
      margin-right: 6px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include onDesktop {
        margin-left: 12px;
        margin-right: 8px;
        width: 24px;
        line-height: 24px;
      }
    }

    &--first-positions {
      width: 20px;
      height: 20px;
      color: $white;
      background-color: rgb(33, 115, 210);
      border-radius: 50%;

      @include onDesktop {
        width: 24px;
        height: 24px;
        background-color: rgb(0, 184, 108);
      }
    }

    &--third-position {
      width: 20px;
      height: 20px;
      color: $white;
      background-color: rgb(46, 162, 229);
      border-radius: 50%;

      @include onDesktop {
        width: 24px;
        height: 24px;
        background-color: rgb(49, 136, 255);
      }
    }

    &--logo {
      width: 24px;
      margin-right: 6px;

      @include onDesktop {
        margin-right: 8px;
      }
    }

    &--name {
      width: 96px;
      margin-right: auto;
      font-size: 12px;
      line-height: 20px;
      text-overflow: ellipsis;
      text-align: left;

      @include onDesktop {
        width: 200px;
      }
    }

    &--games {
      width: 20px;
      margin-right: 8px;

      @include onDesktop {
        width: 24px;
        margin-right: 12px;
      }
    }

    &--wins {
      width: 20px;

      @include onDesktop {
        width: 24px;
        margin-right: 4px;
      }
    }

    &--draws {
      width: 20px;

      @include onDesktop {
        width: 24px;
        margin-right: 4px;
      }
    }

    &--loses {
      width: 20px;
      margin-right: 8px;

      @include onDesktop {
        width: 24px;
        margin-right: 12px;
      }
    }

    &--scored {
      width: 48px;
      margin-right: 8px;

      @include onDesktop {
        width: 52px;
        margin-right: 20px;
      }
    }

    &--form {
      width: 94px;
      margin-right: 20px;
    }

    &--points {
      font-weight: 700;
      width: 20px;
      margin-right: 12px;
      text-align: center;

      @include onDesktop {
        margin-right: 20px;
        width: 24px;
      }
    }
  }

  &__icon {
    height: 24px;
    width: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @for $number from 1 through 12 {
      &--#{$number} {
        background-image: url(../images/team-logo/#{$number}.png);
      }
    }
  }

  &__form-container {
    display: flex;
    gap: 1px;
  }

  &__form-icon {
    height: 18px;
    width: 18px;

    &--win {
      background-image: url(../images/icons/win.png);
    }

    &--lose {
      background-image: url(../images/icons/lose.png);
    }

    &--draw {
      background-image: url(../images/icons/draw.png);
    }
  }
}
