.tooltip {
  display: block;
  position: relative;
  cursor: pointer;

  &::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: rgb(51, 51, 51);
    box-shadow: 0 0 8px 0 rgba(0, 9, 22, 0.2);
    border-radius: 2px;
    padding: 8px 8px 4px 8px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
    top: calc(100% + 8px);
    left: 0;
  }

  &::before {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='11' viewBox='0 0 15 11' fill='none'%3E%3Cpath d='M5.90597 1.10358C6.70626 0.0474635 8.29374 0.047465 9.09403 1.10358L14.1624 7.79209C15.1605 9.10929 14.221 11 12.5684 11H2.43164C0.778977 11 -0.160534 9.10928 0.837602 7.79209L5.90597 1.10358Z' fill='%23333333'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    top: calc(100% + 3px);
    left: 2px;
    width: 18px;
    height: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 998;
  }

  &:hover::after,
  &:hover::before {
    opacity: 1;
  }
}
