$black: rgb(0, 0, 0);
$black-70: rgba(0, 0, 0, 0.7);
$black-90: rgba(0, 0, 0, 0.9);
$black-38: rgba(0, 0, 0, 0.38);
$black-54: rgba(0, 0, 0, 0.54);
$black-80: rgba(0, 0, 0, 0.8);
$gray: rgba(95, 120, 137, 0.08);

$white: rgb(255, 255, 255);
$white-70: rgba(255, 255, 255, 0.7);
$secondary-white: rgb(238, 238, 238);
